<h1>My Account</h1>

<div class="item-tab-panes">

	<nav>
		<ul>
			<li><a><span>My Resumes</span></a></li>
		</ul>
	</nav>

	<div>
		<form ng-submit="account.saveResumes(resumes)">
			<fieldset ng-repeat="resume in resumes">
				<div class="item-controls-bar">
					<div>
						<a class="down-arrow">UP</a>
						<a class="up-arrow">DN</a>
						<a class="delete-button" ng-click="account.removeResume(resume, resumes)">X</a>
					</div>
				</div>
				<label>
					<span>Title</span>
					<input type="text" ng-model="resume.title">
				</label>
				<label>
					<span>Tagline</span>
					<input type="text" ng-model="resume.tagline">
				</label>
				<label>
					<span>Resume</span>
					<input type="file" ng-model="resume.fakePath" jg-form-data="resume.formData">
				</label>
			</fieldset>

			<button class="add-new-item" ng-click="account.addResume(resumes)">+ Add New Resume</button>

			<div class="item-form-controls">
				<button>back (no changes)</button>
				<span>or</span>
				<input type="submit" value="Done">
			</div>

		</form>

	</div>
</div>
